# **car details dataset apply data preprocessing and data cleaning**

In [21]:
import pandas as pd
import numpy as np

Load the dataset:

In [22]:
df = pd.read_csv('/content/CAR DETAILS.csv')

Explore the dataset:

In [23]:
# Display the first few rows
print(df.head())

# Check the data types of columns
print(df.dtypes)

# Check for missing values
print(df.isnull().sum())

# Check for duplicates
print(df.duplicated().sum())

                       name  year  selling_price  km_driven    fuel  \
0             Maruti 800 AC  2007          60000      70000  Petrol
1  Maruti Wagon R LXI Minor  2007         135000      50000  Petrol
2      Hyundai Verna 1.6 SX  2012         600000     100000  Diesel
3    Datsun RediGO T Option  2017         250000      46000  Petrol
4     Honda Amaze VX i-DTEC  2014         450000     141000  Diesel

  seller_type transmission         owner
0  Individual       Manual   First Owner
1  Individual       Manual   First Owner
2  Individual       Manual   First Owner
3  Individual       Manual   First Owner
4  Individual       Manual  Second Owner
name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object
name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64
763

Handle missing values:
Depending on the dataset, you may encounter missing values. Here are a few strategies to handle them:

Drop rows with missing values:

In [24]:
df.dropna(inplace=True)

Fill missing values with a specific value:

In [25]:
df['name'].fillna(0, inplace=True)

Fill missing values with the mean or median:

In [26]:
mean_price = df['selling_price'].mean()
df['selling_price'].fillna(mean_price, inplace=True)

Handle duplicates:
If there are duplicate rows in the dataset, you can remove them using

In [27]:
df.drop_duplicates(inplace=True)

Convert data types:

Ensure that the data types of columns are appropriate for analysis. For example, convert the 'year' column to datetime if it is in string format:

In [28]:
df['year'] = pd.to_datetime(df['year'])

Feature scaling:

If necessary, you can apply feature scaling to numeric columns to bring them to a similar scale. This step is often performed when using machine learning algorithms. Here's an example of scaling the 'km_driven' column using Min-Max scaling:

In [29]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df['km_driven'] = scaler.fit_transform(df['km_driven'].values.reshape(-1, 1))